# Dependencies
node_modules/

# Cache
.parcel-cache/


# Transpiled files
build/
dist/

# Optional npm cache directory
.npm

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc
.DS_Store
.org
.vs/